
body {
  font-family: 'Roboto', sans-serif;
   /* color: #545E6C;
  background: #f5f5f5; */
  font-size: 14px;
  text-align: left;
  padding: 30px;
}
h1,h2,h4 {
  font-weight: 700;
}
.image{
  height: 200px;

}

p {
  font-size: 14px;
  line-height: 1.5;
}
 .right li{
  font-size: 14px;
  font-weight: 400;

}
#main {
  background: #42A8C0;
  border: 1px solid #CDCD00;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.right {


  background-color: #B0C4DE;
   /* background-color: #EE6A50; */
padding-left:20px;
  position: absolute;
  right: 0;
  width: 240px;
  height: 100%;
  min-height: 950px;
  color: #000;
}

.right .profile {
  text-align: left;
  padding: 30px;
   color: #000;
}
.right .profile .image{
border-radius: 20px;
}
.right .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.right .designation {
   color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}


.right .container-block {
  padding: 30px;
}

.right .edu2 {
  text-align: left;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}

.right .education  {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}
.right .interest{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}
/* .right .interest .inte{
  font-size: 16px;
} */
.right .Languages{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}

.left {
  color: #000000;
  background-color: #EEEEE0;

  padding: 60px;
  min-height: 950px;
  padding-right: 300px;
}
.left .carrier-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.left .experience {
  margin-bottom: 60px;
}
.left .experience .organisation{
  font-size: 18px;
}
.left .experience .location{
  font-size: 16px;
}
.left .experiences-section .item {
  margin-bottom: 30px;
}
.left .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}
.left .Acheivements{
  font-size: 16px;
}
.left .Acheivements li{
  font-size: 14px;
}
.left .Declaration p{
  font-size: 14px;
}
#desc-title{
  font-size: 16px;

}


/* media Quieries */

@media (max-width: 770px) {
  .right {
    position: static;
    width: inherit;
  }
  .left {
    padding: 30px;
    position: static;
    display: block;
    margin-top: 5px;
      margin-bottom: 0;
  }
  }
@media (min-width: 1024px) {
.profile h1{
  color:#000;
}
.left{
  background-color:#B0C4DE;
  font-size: 16px;
}
.right{
  background-color:#EEEEE0;
  font-size: 16px;
}

}
