.flex{
  display: flex;
  padding-bottom: 10px;
  justify-content: space-around;
}
html{
  background-color: #999;
}
#head{
  text-align: center;
  color:#fff;
  background-color: #7A7A7A;
  border: 2px solid #fff;
}
#new {
  border-radius: 10%;
  font-size: 2em;
  background-color: #7A7A7A;
  border: 2px solid #fff;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  a:hover{
    color: #2df000;
    text-decoration: none;
  }
.cardview {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #F4A460;
}
.cardview:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
button{
  padding: 8px;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
p a{
  padding: 8px;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 1em;
  border-radius: 2em;
}
@media only screen and (max-width: 1024px) {
  .cardview {
background-color: #154;
color: #fff;
font-family: verdana;
  }
  .container h3{
    font-size: 25px;
  }
   .container a{
    background-color: #EE6363;
    font-size: 25px;
  }
  #head,#new{
    font-size: 1.8em;
    background-color: #c45e45;
  }
}
@media only screen and (max-width:768px) {
  .flex{
    flex-wrap:nowrap;
  }
  .cardview {
    width: auto;
    color: #000;
    background-color: #F08080;
  }
  .cardview img{
    text-align: center;
  }
   .container a{
      background-color:#00CD66;
      font-size: 25px;
    }
  #head,#new{
    font-size: 1.5em;
    background-color: #413;
  }

}
@media only screen and (max-width:450px) {
   .flex{
    flex-wrap: wrap;
  }
  .cardview {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #90EE90;
    font-family: verdana;
    border-radius: 30px;
    margin: 1em;
  }
  .cardview img{
    border-radius: 2em;
  }
  #head,#new{
    font-size: 2em;
      background-color: #c45e45;
  }
}
